$light-brown:#c68c53a8;
$light-black:rgba(0, 0, 0, 0.5);
$gray:gray;
$dark-black:rgba(0, 0, 0, 0.9);
$white:white;
$light-yellow:#c2ff3d;
$black:black;
$light-white:whitesmoke;
$light-gray:lightgray;


